body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

th, td {
    border: 1px solid black
}

form {
    margin-top: 20px;
    display: inline-block;
}